# See http://docs.travis-ci.com/user/languages/csharp/ for details

language: csharp
sudo: required
dist: trusty
mono: none
env:
  - CLI_VERSION=latest

addons:
  apt:
    packages:
    - gettext
    - libcurl4-openssl-dev
    - libicu-dev
    - libssl-dev
    - libunwind8

install:
    - export DOTNET_INSTALL_DIR="$PWD/.dotnetcli"
    - curl -sSL https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/dotnet-install.sh | bash /dev/stdin --version "$CLI_VERSION" --install-dir "$DOTNET_INSTALL_DIR"
    - export PATH="$DOTNET_INSTALL_DIR:$PATH"

script:
  - dotnet --info
  - dotnet restore ./src/Stubble.Core/
  - dotnet restore ./test/Stubble.Core.Tests/
  - dotnet build ./src/Stubble.Core/Stubble.Core.csproj --framework netstandard13 -c Release
  - dotnet test ./test/Stubble.Core.Tests/Stubble.Core.Tests.csproj --framework netcoreapp1.1