# See http://docs.travis-ci.com/user/languages/csharp/ for details

language: csharp
sudo: required
dist: trusty
env:
  - CLI_VERSION=latest

addons:
  apt:
    packages:
    - gettext
    - libcurl4-openssl-dev
    - libicu-dev
    - libssl-dev
    - libunwind8

install:
    - export DOTNET_INSTALL_DIR="$PWD/.dotnetcli"
    - curl -sSL https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/dotnet-install.sh | bash /dev/stdin --version "$CLI_VERSION" --install-dir "$DOTNET_INSTALL_DIR"
    - export PATH="$DOTNET_INSTALL_DIR:$PATH"

script:
  - dotnet restore
  - dotnet --verbose build ./src/Stubble.Core/ --framework netstandard13 -c Release
  - dotnet --verbose build  ./test/Stubble.Core.Tests/ -c Release
  - cd ./test/Stubble.Core.Tests/bin/
  - ls
  - dotnet --verbose test ./test/Stubble.Core.Tests/